@using Entidades;
@model Ejercicio3.Models.ViewModels.clsDeleteVM;


@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar persona</h1>

<h3>¿Estás seguro de que quieres borrar esta persona?</h3>
<div>

    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.IdDepartamento)
            </th>
        </tr>
    </thead>

    <tbody>
        @for (var i = 0; i < Model.ListaPersonasVM.Count; i++)
        {
            if (Model.PersonaVM.Id == Model.ListaPersonasVM[i].Id)
            {
                <tr>

                    <th>
                        @Html.DisplayFor(model => model.ListaPersonasVM[i].Id)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.ListaPersonasVM[i].Nombre)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.ListaPersonasVM[i].Apellido)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.ListaPersonasVM[i].Telefono)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.ListaPersonasVM[i].Direccion)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.ListaPersonasVM[i].Foto)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.ListaPersonasVM[i].FechaNacimiento)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.ListaPersonasVM[i].IdDepartamento)
                    </th>

                </tr>
            }
           
        }
    </tbody>

    <form asp-action="DeleteView">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="clsListadoPersonasView">Back to List</a>
    </form>
