
@using Entidades;
@model Ejercicio3.Models.ViewModels.clsListadoPersonasVM;

<h1>Lista de personas</h1>

<p>
    <a asp-action="InsertView">Insert a new person</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonaVM.IdDepartamento)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaPersonasVM)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Foto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDepartamento)
                </td>
                <td>

                    @Html.ActionLink("Edit", "EditView", new { id=item.Id }) |
                    @Html.ActionLink("Details", "DetailsView", new {  id=item.Id }) |
                    @Html.ActionLink("Delete", "DeleteView", new {  id=item.Id })

                </td>
            </tr>
        }
    </tbody>

</table>
